#i2 {
  width: 300px;
  height: 300px;
  position: relative;
  z-index: -1;
}

.fix {
  position: ;
  top: 0%;
}
#n1 {
  padding: 20px;
  position: fixed;
  top: 0%;
  display: inline-block;
}

.img-responsive {
  width: 70px;
  height: 70px;
}
.navlink {
  text-decoration: none;
}

#i1 {
  width: 1262px;
  height: 750px;
  position: relative;
  z-index: -1;
}
.navlink {
  padding-right: 30px;
  color: antiquewhite;
}
.button2 {
  padding-left: 490px;
}
#b2 {
  border: none;
  color: white;
  background: none;
  background-color: rgba(0, 0, 0, 0.4);
  width: 120xp;
  height: 40px;
  border-radius: 15px;
  padding-bottom: 7px;
}
#s11 {
  padding-top: 80px;
  padding-bottom: 30px;
}
#b3 {
  border: none;
  color: white;
  background: none;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100xp;
  height: 40px;
  border-radius: 15px;
  padding-bottom: 7px;
  padding-right: 5px;
}
.navlink:hover {
  color: rgba(0, 0, 0, 0.4);
}
