#t1 {
  padding: 20px;
}
#t2 {
  padding-bottom: 40px;
}
.card-img-top {
}
#i2 {
  width: 300px;
  height: 200px;
}
#b1 {
  border: none;
  color: grey;
}
#goback {
  text-decoration: none;
}
#gobac {
  padding: 50px;
  padding-left: 600px;
}
